// Your font variables go here.


// Fist declaration of color variables for Theme, this will be changed by your themes.
$primary: #ffffff;
$primaryVariant: #ffffff;
$secondary: #ffffff;
$secondaryVariant: #ffffff;
$background: #ffffff;
$surface: #ffffff;
$error: #ffffff;
$onPrimary: #ffffff;
$onSecondary: #ffffff;
$onBackground: #ffffff;
$onSurface: #ffffff;
$onError: #ffffff;
$alphaColor: #00000000;